{% extends "base.html" %}
{% block content %}
  <main class="container">
    <section class="content">
        <h1>LED Status Indicators</h1>
        <p>
            Attches LED status indicator to the elements with .led-status css class.
        </p>
        <p>LED status can be for:</p>
        <ul>
            <li>1. Documents - in documents browser</li>
            <li>2. Pages - in document viewer</li>
        </ul>
    </section>
    <h2>Examples</h2>
    <ul>
        <li>
            <p>Red static:</p>
            <div class="led led-red"></div>
        </li>
        <li>
            <p>Red blinking:</p>
            <div class="led led-red blink"></div>
        </li>
        <li>
            <p>Green static:</p>
            <div class="led led-green"></div>
        </li>
        <li>
            <p>Green blinking:</p>
            <div class="led led-green blink"></div>
        </li>
    </ul>
    <h2>Change State Example</h2>
        <p>
            Change state (led indicators) of following nodes:
        </p>
        <p>

        </p>
        <p>
          <div class="play-view">
            <select name="folder" id="document-selector">
              <option value="1">Document 1</option>
              <option value="2">Document 2</option>
              <option value="3">Document 3</option>
            </select>
            <select name="state" id="document-state">
              <option value="pending">Pending</option>
              <option value="ocr-started">OCR Started</option>
              <option value="ocr-complete">OCR Complete</option>
            </select>
            <select name="result" id="document-result">
              <option value="error">Error</option>
              <option value="success">Sucess</option>
            </select>
            <button id="apply" class="apply">Apply</button>
            <ul>
                <li>
                  <div class="node" data-id="1">
                    <div class="document"></div>
                    <div class="footer">
                      <div class="led led-yellow"></div>
                      <div class="title">Document 1</div>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="node" data-id="2">
                    <div class="document"></div>
                    <div class="led led-yellow"></div>
                    <div class="title">Document 2</div>
                  </div>
                </li>
                <li>
                  <div class="node" data-id="3">
                    <div class="document"></div>
                    <div class="led led-yellow"></div>
                    <div class="title">Document 3</div>
                  </div>
                </li>
            </ul>
          </div>
        </p>
    </aside>
  </main>
{% endblock %}
